@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$primary: #e83333;

$theme-colors: (
  "grey": #dee2e6,
);

$border-width: 2px;

$spacer: 1rem;

// // Set custom max container widths (just unset xl)
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   // xl: 960px,
// );

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
// @include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// @include _assert-ascending($container-max-widths, "$container-max-widths");

$enable-caret: false;

$card-height: 100%;

$font-family-sans-serif: "Roboto", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Nunito", sans-serif;
$headings-margin-bottom: $spacer * 1.5;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.dropdown .navbar-toggler-icon {
  background: $navbar-light-toggler-icon-bg;
}

.rounded-xl {
  border-radius: 0.75rem !important;
}

#recipe-ingredients ul {
  @media screen and (min-width: 768px) {
    column-count: 2;
  }

  li {
    &::marker {
      color: $primary;
    }

    span {
      margin-top: $spacer * 1.5;
      margin-bottom: 0;
      display: block;
    }

    &:first-of-type span {
      margin-top: 0;
    }
  }
}

.card.shadow-sm {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba($black, 0.2) !important;
    transform: translateY(-0.25rem);
  }
}

.callout {
  position: relative;
  background: darken(map-get($theme-colors, "light"), 5%);
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
  overflow: hidden;

  svg {
    position: absolute;
    color: rgba(darken(map-get($theme-colors, "light"), 75%), 0.05);
    font-size: 8em;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    pointer-events: none;
  }
}

blockquote {
  font-size: $font-size-base * 1.25;
  padding-left: $spacer * 1.5;
  border-left: 4px solid $primary;
}
